.search-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.search-filter-container input {
  min-width: 200px;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: var(--element-bg);
  color: var(--text-color);
}

.search-filter-container select {
  min-width: 180px;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: var(--element-bg);
  color: var(--text-color);
  cursor: pointer;
}
