:root {
  --bg-color: #f2f2f2;
  --text-color: #111517;
}

.dark {
  --bg-color: #2b3844;
  --text-color: #ffffff;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 72px;
  z-index: 100;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.techover-logo img {
  height: 20px;
}

.toggle-dark-light-mode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: inherit;
}

.toggle-dark-light-mode img {
  width: 16px;
  height: 16px;
}

button.toggle-dark-light-mode:focus {
  outline: none;
}

.main-content {
  padding-top: 72px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}
